@font-face {
  font-family: Sahel;
  src: url("./sahel.ttf");
}

@font-face {
  font-family: SahelBlack;
  src: url("./sahel-black.ttf");
}

input, select, option
{
	font-family: Sahel;
}

body
{
	direction: rtl;
	text-align: right;
	background-color: #2270b4;
	background-image: url("./background.jpg");
	background-size: cover;
	font-family: Sahel;
}

h1, h2, h3
{
	font-family: SahelBlack;
	color: #B96C00;
}

#container
{
	text-align: center;
	width: 80%;
	max-width: 800px;
	margin: auto;
	background-color: rgba(104, 160, 209, 0.7);
	padding: 1vh 1vw 1vh 1vw;
	border-color: #074278;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
}

a
{
	color: #141081;
	font-weight: bold;
	text-decoration: none;
}
a:hover
{
	color: #B96C00;
}

a.btn
{
	display: inline-block;
    font-weight: normal;
    color: white;
    padding: 1vh 1vw 1vh 1vw;
    background: rgba(20, 16, 129, 0.8);
    border-radius: 5px;
	border-color: rgba(20, 16, 129, 0.8);
	border-width: 1px;
	border-style: solid;
}
a.btn:hover
{
	background: rgba(20, 16, 129, 0.5);
	border-color: rgba(20, 16, 129, 1);
	border-width: 1px;
	border-style: solid;
}